{% extends "encyclopedia/layout.html" %}

{% block title %}
    Edit {{ title }}
{% endblock %}

{% block body %}
    <form id="form_edit" action="{% url 'entry' title %}" method="post">
        <input type="hidden" name="title" value="{{ title }}">
        {% csrf_token %}

        <div>
            <textarea id="content" name="content">{{ content }}</textarea> 
        </div>   
        <div id="btn_submit">
            <button type="submit">Save</button<>
        </div>
    </form>

{% endblock %}